index.haml
!!!
%html
  %head
    %meta{:name => "viewport",
          :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{'http-equiv' => "content-type",
          :content => "text/html; charset=UTF-8"}
    %title c r o w d
    %meta{:name => "author",
          :content => "Giménez, Christian"}
    %link{:rel => "stylesheet",
          :href => "web-src/css/bootstrap.min.css"}
    %link{:rel => "stylesheet",
          :href => "web-src/css/interfaz.css"}
      
  %body
    %nav.navbar.navbar-dark.bg-dark
      %a.navbar-brand.crowd-font{:href => "#"} c r o w d

      %ul.navbar-nav.mr-auto
        %li.nav-item
          %a.nav-link{:type => "button",
                      :href => "http://crowd.fi.uncoma.edu.ar"}
            Main Page

      
    .container.my-2

      .jumbotron
        %h1.display-4.crowd-font c r o w d
        
        %p.lead
          A tool for
          %i Conceptual Modelling
          assisted by Automated Reasoning.

          %hr.my-4
          
          .row
            .col
              %p Select your favourite visual language.
              .btn-group.btn-group-lg{:role => "group"}
                %a.btn.btn-primary{:type => "button",
                                   :href => "./web-src/model_editor.php?type=UML"}
                  UML
                %a.btn.btn-primary{:type => "button",
                                   :href => "./web-src/model_editor.php?type=EER"}
                  EER
                %a.btn.btn-primary{:type => "button",
                                   :href => "./web-src/model_editor.php?type=ORM"}
                  ORM

            .col
              %p Read generated documentation.
              .btn-group.btn-group-lg{:role => "group"}
                %a.btn.btn-primary{:type => "button",
                                   :href => "./docs"}
                  Docs dir
                %a.btn.btn-secondary{:type => "button",
                                     :href => "./docs/doxygen/html"}
                  Doxygen
                %a.btn.btn-secondary{:type => "button",
                                     :href => "./docs/coffee"}
                  codo
                %a.btn.btn-secondary{:type => "button",
                                     :href => "./docs/docco/web-src/coffee"}
                  docco
              

    %script{:src => "web-src/js/libs/jquery-3.2.1.min.js"}
    %script{:src => "web-src/js/libs/popper.min.js"}
    %script{:src => "web-src/js/libs/bootstrap.min.js"}

index.html
<!DOCTYPE html>
<html>
<head>
<meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'>
<meta content='text/html; charset=UTF-8' http-equiv='content-type'>
<title>c r o w d</title>
<meta content='Giménez, Christian' name='author'>
<link href='web-src/css/bootstrap.min.css' rel='stylesheet'>
<link href='web-src/css/interfaz.css' rel='stylesheet'>
</head>
<body>
<nav class='navbar navbar-dark bg-dark'>
<a class='navbar-brand crowd-font' href='#'>c r o w d</a>
<ul class='navbar-nav mr-auto'>
<li class='nav-item'>
<a class='nav-link' href='http://crowd.fi.uncoma.edu.ar' type='button'>
Main Page
</a>
</li>
</ul>
</nav>
<div class='container my-2'>
<div class='jumbotron'>
<h1 class='display-4 crowd-font'>c r o w d</h1>
<p class='lead'>
A tool for
<i>Conceptual Modelling</i>
assisted by Automated Reasoning.
<hr class='my-4'>
<div class='row'>
<div class='col'>
<p>Select your favourite visual language.</p>
<div class='btn-group btn-group-lg' role='group'>
<a class='btn btn-primary' href='./web-src/model_editor.php?type=UML' type='button'>
UML
</a>
<a class='btn btn-primary' href='./web-src/model_editor.php?type=EER' type='button'>
EER
</a>
<a class='btn btn-primary' href='./web-src/model_editor.php?type=ORM' type='button'>
ORM
</a>
</div>
</div>
<div class='col'>
<p>Read generated documentation.</p>
<div class='btn-group btn-group-lg' role='group'>
<a class='btn btn-primary' href='./docs' type='button'>
Docs dir
</a>
<a class='btn btn-secondary' href='./docs/doxygen/html' type='button'>
Doxygen
</a>
<a class='btn btn-secondary' href='./docs/coffee' type='button'>
codo
</a>
<a class='btn btn-secondary' href='./docs/docco/web-src/coffee' type='button'>
docco
</a>
</div>
</div>
</div>
</p>
</div>
</div>
<script src='web-src/js/libs/jquery-3.2.1.min.js'></script>
<script src='web-src/js/libs/popper.min.js'></script>
<script src='web-src/js/libs/bootstrap.min.js'></script>
</body>
</html>
